@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

@layer base {
    html {
        /* Make Open Sans the default for the entire site */
        font-family: "Open Sans", ui-sans-serif, system-ui, -apple-system,
        Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
}